In [10]:
from astroquery.jplhorizons import Horizons
import pandas as pd
from astropy.time import Time
import pandas as pd
import pytz

# Definiere die IDs der 8 Planeten im JPL Horizons System
planets = {
    "Mercury": 199, "Venus": 299, "Earth": 399, "Mars": 499,
    "Jupiter": 599, "Saturn": 699, "Uranus": 799, "Neptune": 899
}

# Zeitspanne: Letzte 2 Jahre, stÃ¼ndliche Schritte
epochs = {'start': '2023-02-14', 'stop': '2023-02-20', 'step': '1h'}

# Daten speichern
all_data = []

for planet, planet_id in planets.items():
    obj = Horizons(id=planet_id, location='500@sun', epochs=epochs)
    data = obj.vectors()

    # Speichere relevante Spalten
    df = data.to_pandas()#[["datetime_jd", "x", "y", "z", "vx", "vy", "vz"]]
    df["planet"] = planet  # Planetenname hinzufÃ¼gen
    all_data.append(df)

# Alle Planeten in einem DataFrame zusammenfÃ¼hren
df_all = pd.concat(all_data, ignore_index=True)

# Speichern als CSV
#df_all.to_csv("planet_positions_last_2_years.csv", index=False)

# Umwandlung von Julianischem Datum in UTC-Zeit
df_all["datetime_utc"] = df_all["datetime_jd"].apply(lambda jd: Time(jd, format='jd').to_datetime())

# Umwandlung von UTC nach Berlin-Zeit
berlin_tz = pytz.timezone("Europe/Berlin")
df_all["datetime_berlin"] = df_all["datetime_utc"].apply(lambda dt: berlin_tz.fromutc(dt))

# delete datetime_utc and datetime_jd columns
df_all.drop(columns=["datetime_utc", "datetime_jd"], inplace=True)
df_all.rename(columns={"datetime_berlin": "datetime"}, inplace=True)

display(df_all)

,targetname,datetime_str,x,y,z,vx,vy,vz,lighttime,range,range_rate,planet,datetime
0,Mercury (199),A.D. 2023-Feb-14 00:00:00.0000,-0.141666,-0.443576,-0.023255,0.021150,-0.007159,-0.002525,0.002693,0.466230,0.000511,Mercury,2023-02-14 01:00:00+01:00
1,Mercury (199),A.D. 2023-Feb-14 01:00:00.0000,-0.140784,-0.443874,-0.023360,0.021167,-0.007105,-0.002522,0.002693,0.466251,0.000499,Mercury,2023-02-14 02:00:00.000027+01:00
2,Mercury (199),A.D. 2023-Feb-14 02:00:00.0000,-0.139902,-0.444169,-0.023465,0.021184,-0.007051,-0.002519,0.002693,0.466271,0.000488,Mercury,2023-02-14 02:59:59.999973+01:00
3,Mercury (199),A.D. 2023-Feb-14 03:00:00.0000,-0.139019,-0.444461,-0.023570,0.021201,-0.006997,-0.002516,0.002693,0.466291,0.000476,Mercury,2023-02-14 04:00:00+01:00
4,Mercury (199),A.D. 2023-Feb-14 04:00:00.0000,-0.138135,-0.444752,-0.023675,0.021218,-0.006943,-0.002514,0.002693,0.466311,0.000465,Mercury,2023-02-14 05:00:00.000027+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,Neptune (899),A.D. 2023-Feb-19 20:00:00.0000,29.774753,-2.785727,-0.628821,0.000270,0.003153,-0.000071,0.172754,29.911396,-0.000023,Neptune,2023-02-19 20:59:59.999973+01:00
1156,Neptune (899),A.D. 2023-Feb-19 21:00:00.0000,29.774764,-2.785595,-0.628824,0.000270,0.003153,-0.000071,0.172754,29.911395,-0.000023,Neptune,2023-02-19 22:00:00+01:00
1157,Neptune (899),A.D. 2023-Feb-19 22:00:00.0000,29.774776,-2.785464,-0.628827,0.000270,0.003153,-0.000071,0.172754,29.911394,-0.000023,Neptune,2023-02-19 23:00:00.000027+01:00
1158,Neptune (899),A.D. 2023-Feb-19 23:00:00.0000,29.774787,-2.785332,-0.628830,0.000270,0.003153,-0.000071,0.172754,29.911393,-0.000023,Neptune,2023-02-19 23:59:59.999973+01:00
1159,Neptune (899),A.D. 2023-Feb-20 00:00:00.0000,29.774798,-2.785201,-0.628833,0.000270,0.003153,-0.000071,0.172754,29.911392,-0.000023,Neptune,2023-02-20 01:00:00+01:00

,targetname,datetime_jd,datetime_str,x,y,z,vx,vy,vz,lighttime,range,range_rate,planet,datetime_utc,datetime_berlin
0,Neptune (899),2.459990e+06,A.D. 2023-Feb-14 00:00:00.0000,29.773171,-2.804118,-0.628406,0.000272,0.003152,-0.000071,0.172755,29.911531,-0.000023,Neptune,2023-02-14 00:00:00.000000,2023-02-14 01:00:00+01:00
1,Neptune (899),2.459990e+06,A.D. 2023-Feb-14 01:00:00.0000,29.773183,-2.803987,-0.628409,0.000272,0.003152,-0.000071,0.172755,29.911530,-0.000023,Neptune,2023-02-14 01:00:00.000027,2023-02-14 02:00:00.000027+01:00
2,Neptune (899),2.459990e+06,A.D. 2023-Feb-14 02:00:00.0000,29.773194,-2.803855,-0.628412,0.000272,0.003152,-0.000071,0.172755,29.911529,-0.000023,Neptune,2023-02-14 01:59:59.999973,2023-02-14 02:59:59.999973+01:00
3,Neptune (899),2.459990e+06,A.D. 2023-Feb-14 03:00:00.0000,29.773205,-2.803724,-0.628415,0.000272,0.003152,-0.000071,0.172755,29.911528,-0.000023,Neptune,2023-02-14 03:00:00.000000,2023-02-14 04:00:00+01:00
4,Neptune (899),2.459990e+06,A.D. 2023-Feb-14 04:00:00.0000,29.773217,-2.803593,-0.628418,0.000272,0.003152,-0.000071,0.172755,29.911527,-0.000023,Neptune,2023-02-14 04:00:00.000027,2023-02-14 05:00:00.000027+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Neptune (899),2.459995e+06,A.D. 2023-Feb-19 20:00:00.0000,29.774753,-2.785727,-0.628821,0.000270,0.003153,-0.000071,0.172754,29.911396,-0.000023,Neptune,2023-02-19 19:59:59.999973,2023-02-19 20:59:59.999973+01:00
141,Neptune (899),2.459995e+06,A.D. 2023-Feb-19 21:00:00.0000,29.774764,-2.785595,-0.628824,0.000270,0.003153,-0.000071,0.172754,29.911395,-0.000023,Neptune,2023-02-19 21:00:00.000000,2023-02-19 22:00:00+01:00
142,Neptune (899),2.459995e+06,A.D. 2023-Feb-19 22:00:00.0000,29.774776,-2.785464,-0.628827,0.000270,0.003153,-0.000071,0.172754,29.911394,-0.000023,Neptune,2023-02-19 22:00:00.000027,2023-02-19 23:00:00.000027+01:00
143,Neptune (899),2.459995e+06,A.D. 2023-Feb-19 23:00:00.0000,29.774787,-2.785332,-0.628830,0.000270,0.003153,-0.000071,0.172754,29.911393,-0.000023,Neptune,2023-02-19 22:59:59.999973,2023-02-19 23:59:59.999973+01:00
144,Neptune (899),2.459996e+06,A.D. 2023-Feb-20 00:00:00.0000,29.774798,-2.785201,-0.628833,0.000270,0.003153,-0.000071,0.172754,29.911392,-0.000023,Neptune,2023-02-20 00:00:00.000000,2023-02-20 01:00:00+01:00